*.pth
*.pt
*.ckpt
*.log
*.mp4
*.avi
*.npy
*.npz
__pycache__/
.DS_Store
.vscode/
.idea/
.checkpoints
.ImageBind/
.hand_3d_outputs
.hand_3d_outputs_file
.jy/
.lmdb_imgs/
.wiLo/
.vis
.directional_tokens/
.direction_hist_results
.effhandegonet/
.mmpose/
.toy-test/
ImageBind/
