*.pth
*.pt
*.ckpt
*.log
*.mp4
*.avi
*.npy
*.npz
*.png
__pycache__/
.DS_Store
.vscode/
hand_3d_outputs
hand_3d_outputs_file
lmdb_imgs/
wiLo/
vis/
directional_tokens/
direction_hist_results
effhandegonet/
mmpose/